
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.feed{
  margin-top: 40px;
  margin-left: 120px;

}


.feed-detail{
  margin-top: 40px !important;
  margin-right: 150px !important;
}
