.channel-img {
  width: 25px;
}

.loading {
  width: 100px;
  height: 100px;
  margin: 300px auto;
}


.videoCard-link{
  width: 340px;
  height: auto;
  margin-bottom: 20px;
  text-decoration: none;
}

.left-nav-item{
  transition: all 0.3s;
}
.left-nav-item:hover{
  background-color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important;
  opacity: 0.6;
  transition: all 0.3s;
}